{% extends "base.html" %}
{% block head_title %}Ahorro{% endblock %}
{% load static %}
{% block active_aho %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Ahorro{% endblock %}
{% block container %}
<h1 class="text-danger">
En Construcción...
<i class="fa fa-wrench"></i>
</h1>
<center>
<img class="d-block img-fluid border border-danger" src="{% static 'img/construccion.jpg' %}" alt="">
</center>
<h1 class="text-primary">¡¡Proximamente!!</h1>
<p>Encontrarás como ahorrar algún dinero en tu boda...<br><p>
<p class="font-weight-bold">¡¡No desesperes!!</p>
{% endblock %}