{% extends "base.html" %}
{% block head_title %}Registrar Camarero{% endblock %}
{% load static %}
{% block active_log %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Registrar Camarero{% endblock %}
{% block container %}
{{info}}
{% if camarero_form %}
	<form method="POST"> {% csrf_token %}
	<label>DNI</label>
	<input type="text" id="dni" name="dni" class="form-control" placeholder="DNI" required="True">
	{{ sala_form.errors.dni }}
	<label>Nombre</label>
	<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required="True">
	{{ sala_form.errors.nombre }}
	<label>Apellido</label>
	<input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" required="True">
	{{ sala_form.errors.apellido }}
	<label>Hora Inicio</label>
	<input type="text" id="inicio" name="inicio" class="form-control" placeholder="Hora Inicio" required="True">
	{{ sala_form.errors.inicio }}
	<label>Hora Final</label>
	<input type="text" id="final" name="final" class="form-control" placeholder="Hora Final" required="True">
	{{ sala_form.errors.final }}
	<label>Mesa Asignada</label>
	<select id=mesa name="mesa" class="form-control" required="True">
		{% for mesa in mesas %}	
		<option>{{mesa.id}}</option>
		{% endfor %}
	</select>
	{{ sala_form.errors.mesa }}
	<br><button type="submit" class="btn btn-primary">Registrar Camarero</button>
	</form>
	{% endif %}
	<br><a href="{% url 'listar_camareros' %}"><button class="btn btn-primary">Listar Camarero</button></a>
{% endblock %}