{% extends "base.html" %}
{% block head_title %} Cotizacion {% endblock %}
{% load static %}
{% block jumbotron %}
<div class='container text-center' >
<h2>{{info}}</h2>
{% if sala_form %}
	<center>
	<form method="POST"> {% csrf_token %}
	<label for="inputEmail4">Identificador</label>
	<input type="text" id="id" name="id" class="form-control" placeholder="Identificador" required="True">
	{{ sala_form.errors.id }}
	<label for="inputEmail4">Capacidad</label>
	<input type="text" id="capacidad" name="capacidad" class="form-control" placeholder="Capacidad" required="True">
	{{ sala_form.errors.capacidad }}
	<br><button type="submit" class="btn btn-primary">Crear Sala</button>
	</form>
	</center>
	{% endif %}
	<br><a href="{% url 'listar_salas' %}"><button class="btn btn-primary">Listar Sala</button></a><br>
</div>
{% endblock %}