{% extends "base.html" %}
{% block head_title %}Crear Sala{% endblock %}
{% load static %}
{% block active_log %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Crear Sala{% endblock %}
{% block container %}
{{info}}
{% if sala_form %}
	<form method="POST"> {% csrf_token %}
	<label>Identificador</label>
	<input type="text" id="id" name="id" class="form-control" placeholder="Identificador" required="True">
	{{ sala_form.errors.id }}
	<label>Capacidad</label>
	<input type="text" id="capacidad" name="capacidad" class="form-control" placeholder="Capacidad (Personas)" required="True">
	{{ sala_form.errors.capacidad }}
	<br><button type="submit" class="btn btn-primary">Crear Sala</button>
	</form>
{% endif %}
<br><a href="{% url 'listar_salas' %}"><button class="btn btn-primary">Listar Sala</button></a>
{% endblock %}