{% extends "base.html" %}
{% block head_title %}Crear Mesa{% endblock %}
{% load static %}
{% block active_log %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Crear Mesa{% endblock %}
{% block container %}
{{info}}
{% if mesa_form %}
	<form method="POST"> {% csrf_token %}
	<label>Capacidad</label>
	<input type="text" id="capacidad" name="capacidad" class="form-control" placeholder="Capacidad (Personas)" required="True">
	{{ sala_form.errors.capacidad }}
	<label>Sala</label>
	<select id=sala name="sala" class="form-control" required="True">
		{% for sala in salas %}	
		<option>{{sala.id}}</option>
		{% endfor %}
	</select>
	{{ sala_form.errors.sala }}
	<br><button type="submit" class="btn btn-primary">Crear Mesa</button>
	</form>
	{% endif %}
	<br><a href="{% url 'listar_mesas' %}"><button class="btn btn-primary">Listar Mesas</button></a>
{% endblock %}