{% extends "base.html" %}
{% block head_title %}Crear Regalo{% endblock %}
{% load static %}
{% block active_log %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Crear Regalo{% endblock %}
{% block container %}
{{info}}
{% if regalo_form %}
	<form method="POST"> {% csrf_token %}
		<label>Titular</label>
		<input type="text" id="titular" name="titular" value="{{titular.nombre}} {{titular.apellido}}" class="form-control" readonly=”readonly” required="True">
		<label>Tipo</label>
		<select id=tipo name="tipo" class="form-control" required="True">
			<option value='E'>E</option>
			<option value='D'>D</option>
			<option value='0'>O</option>
		</select>
		{{ sala_form.errors.tipo }}
		<label>Descripcion</label>
		<input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion" required="True">
		{{ sala_form.errors.descripcion }}
		<br><button type="submit" class="btn btn-primary">Crear Regalo</button>
	</form>
{% endif %}
{% endblock %}