{% extends "base.html" %}
{% block head_title %} Cotizacion {% endblock %}
{% load static %}
{% block jumbotron %}
<div class='container text-center' >
<h2>{{info}}</h2>
{% if invitado_form %}
	<form method="POST"> {% csrf_token %}
	<h2>Invitado</h2>
	<label for="inputEmail4">Nombre</label>
	<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required="True">
	{{ sala_form.errors.nombre }}
	<label for="inputEmail4">Apellido</label>
	<input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" required="True">
	{{ sala_form.errors.apellido }}
	<br><button type="submit" class="btn btn-primary">Registrar Invitado</button>
	</form>
	<br>
{% endif %}
	<div class="row" >
		<center>
		<a href="{% url 'listar_invitados' %}"><button class="btn btn-primary">Listar Invitados</button></a>
		<a href="{% url 'listar_todos_regalos' %}"><button class="btn btn-primary">Listar Regalos</button></a>
		</center>
	</div>

</div>
{% endblock %}