{% extends "base.html" %}
{% block head_title %}Registrar Invitado{% endblock %}
{% load static %}
{% block active_log %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Registrar Invitado{% endblock %}
{% block container %}
{{info}}
{% if invitado_form %}
	<form method="POST"> {% csrf_token %}
	<h2>Invitado</h2>
	<label>Nombre</label>
	<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required="True">
	{{ sala_form.errors.nombre }}
	<label>Apellido</label>
	<input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" required="True">
	{{ sala_form.errors.apellido }}
	<label>Dirección</label>
	<input type="text" id="direccion" name="direccion" class="form-control" placeholder="Direccion" required="True">
	{{ sala_form.errors.direccion }}
	<br><button type="submit" class="btn btn-primary">Registrar Invitado</button>
	</form>
{% endif %}
	<br><a href="{% url 'listar_invitados' %}"><button class="btn btn-primary">Listar Invitados</button></a>
	<a href="{% url 'listar_todos_regalos' %}"><button class="btn btn-primary">Listar Regalos</button></a>
{% endblock %}