{% extends "base.html" %}
{% block head_title %}Fiesta{% endblock %}
{% load static %}
{% block active_cot %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Fiesta{% endblock %}
{% block container %}
{% if fest_form %}
<form method="POST"> {% csrf_token %} 
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="checkbox" id="recordatorios" name="recordatorios">
      </div>
    </div>
    <label class="form-control">Recordatorios</label>
  </div>
  {{ cere_form.errors.recordatorios }}

   <label>Tipo de Musica</label>
  <select id=musica name="musica" class="form-control" required="True">
    <option value="Vivo">En vivo</option>
    <option>DJ</option>
  </select>
  {{ cere_form.errors.musica }}
  <br>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="checkbox" id="tarjetas" name="tarjetas">
      </div>
    </div>
    <label class="form-control">Tarjetas</label>
  </div>
  {{ cere_form.errors.tarjetas }}

   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="checkbox" id="licores" name="licores">
      </div>
    </div>
    <label class="form-control">Licores</label>
  </div>
  {{ cere_form.errors.licores }}

   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="checkbox" id="fuera_ciudad" name="fuera_ciudad">
      </div>
    </div>
    <label class="form-control">Lugar fuera de la ciudad</label>
  </div>
  {{ cere_form.errors.fuera_ciudad }}

    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="checkbox" id="flores" name="flores">
      </div>
    </div>
    <label class="form-control">Flores</label>
  </div>
  {{ cere_form.errors.flores }}

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="checkbox" id="organizadora" name="organizadora">
      </div>
    </div>
    <label class="form-control">Organizdora</label>
  </div>
  {{ cere_form.errors.organizadora }}

  <button type="submit" class="btn btn-primary">Crear</button>
  </form>
{% endif %}
{% endblock %}
{% block costos %}{{costos}}{% endblock %}