{% extends "base.html" %}
{% block head_title %}Listar Salas{% endblock %}
{% load static %}
{% block active_log %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Listar Salas{% endblock %}
{% block container %}
{{msg}}
{% if mode %}	
<table style="width:100%" class="text-center">
	  	<tr>
		    <th>Id Sala</th>
		    <th>Capacidad</th> 
	  	</tr>
		{% for sala in salas %}
		<tr>
		    <td>{{sala.id}}</td>
		    <td>{{sala.capacidad}} Mesas</td> 
  		</tr>
  		{% endfor %}
  		</table>		
{% endif %}
{% endblock %}