{% extends "base.html" %}
{% block head_title %}Listar Camareros{% endblock %}
{% load static %}
{% block active_log %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Listar Camareros{% endblock %}
{% block container %}
{{msg}}
{% if mode %}	
	<table style="width:100%" class="text-center">
  	<tr>
	    <th>DNI Camarero</th>
	    <th>Nombre</th> 
	    <th>Apellido</th>
	    <th>Hora Inicio</th>
	    <th>Hora Final</th>
	    <th>Mesas Asignada</th>
  	</tr>
	{% for camarero in camareros %}
	<tr>
	    <td>{{camarero.DNI}}</td>
	    <td>{{camarero.nombre}} </td> 
	    <td>{{camarero.apellido}}</td>
	    <td>{{camarero.inicio}}</td>
	    <td>{{camarero.final}}</td>
	    <td>{{camarero.mesa}}</td>
		</tr>
	{% endfor %}
	</table>		
{% endif %}
{% endblock %}