{% extends "base.html" %}
{% block head_title %}Logistica{% endblock %}
{% load static %}
{% block active_log %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Logistica{% endblock %}
{% block container %}
<div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="{% url 'crear_sala' %}"><img class="card-img-top" src="{% static 'img/salas.jpg' %}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'crear_sala' %}">Salas</a>
              </h4>
              <p class="card-text">Crear y gestionar las salas del evento.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="{% url 'crear_mesa' %}"><img class="card-img-top" src="{% static 'img/mesa.jpg' %}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'crear_mesa' %}">Mesas</a>
              </h4>
              <p class="card-text">Crear y gestionar las mesas del evento.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="{% url 'crear_invitado' %}"><img class="card-img-top" src="{% static 'img/invitados.jpg' %}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'crear_invitado' %}">Invitados</a>
              </h4>
              <p class="card-text">Registrar y listar invitados con sus respectivos regalos.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="{% url 'crear_camarero' %}"><img class="card-img-top" src="{% static 'img/camarero.jpg' %}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'crear_camarero' %}">Camareros</a>
              </h4>
              <p class="card-text">Registrar y asignar los camareros al evento.</p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}