{% extends "base.html" %}
{% block head_title %}Cotización{% endblock %}
{% load static %}
{% block active_cot %}<li class="nav-item active">{% endblock %}
{% block jumbotrom %}Cotización{% endblock %}
{% block container %}
<div class="row">
	<div class="col-lg-6 portfolio-item">
		<div class="card h-100">
			<a href="{% url 'pareja' %}"><img class="card-img-top" src="{% static 'img/pareja.jpg' %}" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="{% url 'pareja' %}">Pareja</a>
				</h4>
				<p class="card-text">Costos relacionados con la pareja.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-6 portfolio-item">
		<div class="card h-100">
			<a href="{% url 'ceremonia' %}"><img class="card-img-top" src="{% static 'img/ceremonia.jpg' %}" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="{% url 'ceremonia' %}">Ceremonia</a>
				</h4>
				<p class="card-text">Costos relacionados con la ceremonia de la boda.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-6 portfolio-item">
		<div class="card h-100">
			<a href="{% url 'fiesta' %}"><img class="card-img-top" src="{% static 'img/fiesta.jpg' %}" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="{% url 'fiesta' %}">Fiesta</a>
				</h4>
				<p class="card-text">Costos relacionados con la fiesta de celebración.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-6 portfolio-item">
		<div class="card h-100">
			<a href="{% url 'luna_miel' %}"><img class="card-img-top" src="{% static 'img/miel.jpg' %}" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="{% url 'luna_miel' %}">Luna de Miel</a>
				</h4>
				<p class="card-text">Costos relacionados con la luna de miel.</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block costos %}{{costos}}{% endblock %}